n8n_workflows/cognee_skill_self_improve/advanced/workflow.json
{
  "id": "ec0a044f-d8fc-441e-af8c-7f4b83b1c178",
  "name": "Cognee - Self Improve Skill",
  "nodes": [
    {
      "parameters": {},
      "id": "f19f89e6-81a4-4265-9918-09d93797a9bc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "skill-name",
              "name": "skill_name",
              "value": "code-review",
              "type": "string"
            },
            {
              "id": "eval-score",
              "name": "eval_score",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "score-threshold",
              "name": "score_threshold",
              "value": 0.9,
              "type": "number"
            },
            {
              "id": "approved",
              "name": "approved",
              "value": "1",
              "type": "string"
            },
            {
              "id": "apply",
              "name": "apply",
              "value": "1",
              "type": "string"
            },
            {
              "id": "sync-file",
              "name": "sync_file",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f9d4c65-19cc-47fb-b034-2d0eb839ae7f",
      "name": "Demo Controls",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const runner = '\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\"';\nconst quote = (value) => `'${String(value).replace(/'/g, `'\\\\''`)}'`;\nconst command = [\n  `COGNEE_SKILL_NAME=${quote($json.skill_name)}`,\n  `COGNEE_SKILL_SCORE=${quote($json.eval_score)}`,\n  `COGNEE_SKILL_SCORE_THRESHOLD=${quote($json.score_threshold)}`,\n  `COGNEE_SELF_IMPROVE_APPROVED=${quote($json.approved)}`,\n  `COGNEE_SELF_IMPROVE_APPLY=${quote($json.apply)}`,\n  `COGNEE_SELF_IMPROVE_SYNC_FILE=${quote($json.sync_file)}`,\n  runner,\n  'init-state',\n].join(' ');\nreturn [{ json: { ...$json, command } }];"
      },
      "id": "cad48eb3-df36-4492-8acf-c2daf6ac0017",
      "name": "Build Init Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "command": "={{$json.command}}"
      },
      "id": "dd565b09-aa5a-44c8-90e5-c6f9f13feeb7",
      "name": "Init Run State",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "ee2d53c6-b9f0-4394-b622-fd3694e686e0",
      "name": "Parse Init State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ]
    },
    {
      "parameters": {
        "command": "\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\" remember-skills"
      },
      "id": "a94273c5-0373-4349-854f-59b9a0c9da81",
      "name": "Remember Skills",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        360,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "b5898cf8-0224-489a-8d3e-95fb3bcd9ddc",
      "name": "Parse Remember Skills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "command": "\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\" run-agent"
      },
      "id": "ee4805c3-f6f2-4585-b35a-d44adee4f595",
      "name": "Run Skill Agent",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        840,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "2f4bc2d2-2fc0-457b-8f24-db334cb5635a",
      "name": "Parse Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-improve",
              "leftValue": "={{$json.should_improve}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ec5d5fb-07d3-47de-933b-59a71860555f",
      "name": "Should Improve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "command": "\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\" record-feedback"
      },
      "id": "942accbd-462f-48a0-9ccf-336e421c3b18",
      "name": "Record Feedback Proposal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1560,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "3de712d8-b4b4-47e6-a9fb-00b67c65ba7b",
      "name": "Parse Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -120
      ]
    },
    {
      "parameters": {
        "command": "\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\" review-packet"
      },
      "id": "87fe45ad-3499-4b72-a999-bb34f4edbdc9",
      "name": "Build Review Packet",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2040,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "e8d35e3e-f23a-42e6-84a6-d2a2e173c137",
      "name": "Parse Review Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved",
              "leftValue": "={{$json.approved}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33b20c7e-b069-448d-8e41-367cd17c7e81",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2520,
        -120
      ]
    },
    {
      "parameters": {
        "command": "\"${COGNEE_SELF_IMPROVE_WORKFLOW_ROOT:-./n8n_workflows/cognee_skill_self_improve/advanced}/run_n8n_action.sh\" apply-proposal"
      },
      "id": "f5f390b8-a212-4a1c-9a60-f0bbd6d7f236",
      "name": "Apply Proposal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2760,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout || '';\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end < start) throw new Error(`No JSON object found in stdout: ${raw}`);\nconst parsed = JSON.parse(raw.slice(start, end + 1));\nreturn [{ json: { ...parsed, stderr: $json.stderr, exitCode: $json.exitCode } }];"
      },
      "id": "d07a8907-38f7-4922-a064-27fd63c438cc",
      "name": "Parse Apply Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const diff = $json.skill_diff || '';\nconst skill = $json.skill_to_improve || 'unknown-skill';\nconst proposal = $json.proposal_id || 'unknown-proposal';\nconst markdown = [\n  `## Skill Delta: ${skill}`,\n  '',\n  `Proposal: ${proposal}`,\n  `Applied: ${$json.applied === true}`,\n  `Skill file: ${$json.skill_file || ''}`,\n  '',\n  '```diff',\n  diff || '# No diff returned by the runner.',\n  '```',\n].join('\\n');\nreturn [{\n  json: {\n    status: $json.status,\n    skill_to_improve: skill,\n    proposal_id: proposal,\n    applied: $json.applied,\n    score: $json.score,\n    score_threshold: $json.score_threshold,\n    skill_file: $json.skill_file,\n    skill_delta: diff,\n    skill_delta_markdown: markdown,\n  }\n}];"
      },
      "id": "5c5ba359-8071-4cbf-99fa-59f6d2792536",
      "name": "Show Skill Delta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'waiting_for_review', proposal_id: $json.proposal_id, skill_to_improve: $json.skill_to_improve, message: 'Proposal generated but not approved. Replace Demo Controls with Slack, GitHub, or Wait-for-webhook approval for production.' } }];"
      },
      "id": "a2f5eb18-8210-4db1-9256-ae4cd6cf5316",
      "name": "Waiting For Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'no_improvement_needed', score: $json.score, score_threshold: $json.score_threshold, agent_score: $json.agent_score, message: 'Score did not fall below threshold, so no SkillRunEntry improvement proposal was requested.' } }];"
      },
      "id": "a82f59e5-8c03-4d2a-b673-37b153f67351",
      "name": "No Improvement Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Demo Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Controls": {
      "main": [
        [
          {
            "node": "Build Init Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Init Command": {
      "main": [
        [
          {
            "node": "Init Run State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Run State": {
      "main": [
        [
          {
            "node": "Parse Init State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Init State": {
      "main": [
        [
          {
            "node": "Remember Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remember Skills": {
      "main": [
        [
          {
            "node": "Parse Remember Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Remember Skills": {
      "main": [
        [
          {
            "node": "Run Skill Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Skill Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Result": {
      "main": [
        [
          {
            "node": "Should Improve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Improve?": {
      "main": [
        [
          {
            "node": "Record Feedback Proposal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Improvement Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Feedback Proposal": {
      "main": [
        [
          {
            "node": "Parse Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Proposal": {
      "main": [
        [
          {
            "node": "Build Review Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Packet": {
      "main": [
        [
          {
            "node": "Parse Review Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review Packet": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Apply Proposal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Waiting For Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Proposal": {
      "main": [
        [
          {
            "node": "Parse Apply Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Apply Result": {
      "main": [
        [
          {
            "node": "Show Skill Delta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "3a5a6a95-29aa-43eb-a1d7-6e630ef4839d"
}
